@tailwind base;
@tailwind components;
@tailwind utilities;

#briefHistory {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../public/run-affordable-running-shoes-1676481206.jpg");
  background-blend-mode: darken;
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
